header {
    background-color: green;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  nav {
    background-color: #444;
    padding: 10px;
  }
  ul{
    background-color: #f4f4f4;
    padding: 1rem;
    margin-bottom: 1rem;
  }
h4{
    color: green;
}
.container{
    background-color: #f4f4f4;
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
  position: absolute;
  left: 45%;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}